/* src/Components/Navbar/Navbar.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 1%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: transform 0.3s ease-in-out, background 0.3s;
}

.header.hide {
    transform: translateY(-100%);
}

.logo {
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-left: 40px; /* Espacio entre los enlaces */
    padding: 10px;
    cursor: pointer;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #000000;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* Estilos para el botón del menú hamburguesa */
.menu-toggle {
    display: none; /* Oculta el botón por defecto */
    cursor: pointer; /* Cambia el cursor para indicar que se puede hacer clic */
    font-size: 24px; /* Tamaño del botón */
    color: #ffffff; /* Color del botón */
}

/* Estilos para el botón de cerrar sesión */
.navbar .logout-button {
    background-color: #ff3b3b; /* Color rojo para el botón */
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 40px; /* Espacio entre el botón de cerrar sesión y los enlaces */
}

/* Asegura que los elementos no se desborden y estén en una sola fila */
.navbar {
    flex-wrap: nowrap;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .header {
        background: rgba(0, 0, 0, 0.7); /* Añadir un fondo semitransparente para mejor visibilidad */
    }

    .navbar {
        flex-direction: column; /* Cambia la dirección de la navbar a vertical en pantallas pequeñas */
        align-items: flex-start; /* Alinea los enlaces al inicio */
        display: none; /* Oculta el menú inicialmente en móviles */
        width: 100%; /* Asegura que la navbar ocupe el ancho completo */
    }

    .navbar.active {
        display: flex; /* Muestra el menú cuando tiene la clase active */
    }

    .navbar a {
        margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
        margin-bottom: 10px; /* Espacio entre enlaces */
    }

    .logo {
        font-size: 28px; /* Ajusta el tamaño del logo */
    }

    .menu-toggle {
        display: block; /* Muestra el botón en pantallas pequeñas */
    }
}
